:root {
  --background: #222;
  --secondary-color: #333;
  --text-color: white;
}

* {
  margin: 0;
}

body {
  background-color: var(--background);
}

.cabeçalho {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary-color);

  padding: 20px;
}

.logo-header {
  width: 200px;
  height: 200px;

  background-color: var(--background);
  border-radius: 50px;
}

.navigation ul {
  display: flex;

  margin-right: 10rem;
  gap: 30px;
}

.navigation ul li {
  list-style: none;
  padding: 10px;
  border-radius: 50px;

  color: var(--text-color);
  background-color: var(--background);
}
